<div class="catogery">
    <div class="topics__header">
      <h5>Browse category</h5>
      <a href="{% url 'index' %}" class="active">Total Catogery: <span>{{categories.count}}</span></a>
    

    <ul class="category_list">

  
        <br>
        <br>
      <div>
        <a href="{% url 'index' %}">All</a>

      </div>

      {% for category in  categories %}
      <div>
        <a href="{% url 'index'%}?q={{category.name}}">{{category.name}}</a>
      </div>
      {% endfor %}
     
    </ul>
  </div>
</div>
<!--     
 #filter post by catogery -->